<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzunlp.qzfeng.mapper.UserCheckupFormMapper">

    <insert id="addUserCheckupForm"
            parameterType="com.yzunlp.qzfeng.domain.po.UserCheckupForm">
        INSERT INTO Questionnaire.user_checkup_form
            (user_id, pic_url, update_time)
        VALUES
            (#{userId}, #{picUrl}, #{updateTime})
    </insert>

    <update id="updateUserCheckupForm">
        UPDATE Questionnaire.user_checkup_form
        <set>
            <if test="picUrl != null">
                pic_url = #{picUrl},
            </if>
            <if test="picUrl != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <select id="selectUserCheckupForm" resultType="com.yzunlp.qzfeng.domain.po.UserCheckupForm">
        SELECT * FROM Questionnaire.user_checkup_form
        WHERE user_id = #{userId}
        ORDER BY update_time DESC
        LIMIT 1
    </select>

</mapper>